<mat-toolbar class="mat-elevation-z6" style="position: fixed; z-index: 99999999999;">
  <button mat-icon-button (click)="menuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Administrador</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="settingClick()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button (click)="profileClick()">
    <mat-icon>account_box</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" style="z-index: 9999999999;">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item>
      <mat-icon>announcement</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>notifications_off</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
